
.header {
  color: white;
  text-align: center;
}

.content {
  overflow: auto;
  height: 76vh;
  background-color: #ececec;
  max-width: 100%;
  min-height: 32px;
  line-height: 1.5;
  vertical-align: bottom;
  box-sizing: border-box;
  padding: 4px 11px;

}

.title-box {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.title {
  text-align: center;
  margin-top: 10px;
}